/* Added Roboto font.  */
@font-face {
   font-family: roboto;
   src: url(/fonts/RobotoSlab-Thin.ttf);
}

/* Added Barrio font. */
@font-face {
    font-family: barrio;
    src: url(/fonts/Barrio-Regular.ttf);
}

/* Body CSS for a new background color. */
body {
    background-color: #78a2ef;
}

#content {
  margin-left: auto;
  position: absolute;
  left: 100px;
  margin-right: auto;
  width: 650px;
  font-family: roboto;
}

#greeting-container {
  margin-top: 20px;
}

/* First button from the left. */
#aboutme-page-image-link {
    background: none;
    position: absolute;
    top: 25%;
    left: 15%;
    width: 15%;
    height: 30%;
    border: 0;
}

/* Second button from the left. */
#cs-page-image-link {
    background: none;
    position: absolute;
    bottom: 25%;
    left: 30%;
    width: 15%;
    height: 30%;
    background-size: 100%;
    border: 0;
}

/* Third button from the left. */
#youtube-page-image-link {
    background: none;
    position: absolute;
    top: 25%;
    left: 45%; 
    width: 15%;
    height: 30%;
    background-size: 100%;
    border: 0;
}

/* Fourth button from the left. */
#funfact-page-image-link {
    background: none;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 30%;
    left: 63%;
    width: 15%;
    height: 30%;
    background-size: 100%;
    border: 0;
}

/* Styling for image labels. */
#page-image-labels {
    font-family: barrio;
    font-size: 24px;
    color: white;   
}

/* About me label. */
#about-me-image-label {
    position: absolute;
    top: 47%;
    left: 20.8%;
}

 /* CS page link label. */
 #cs-page-image-label {
     position: absolute;
     bottom: 27%;
     left: 37%;
 }


 /* Youtube page link label. */
 #youtube-page-image-label {
     position: absolute;
     top: 49%;
     left: 50.5%;
 }

 /* Fun facts page link label. */
 #funfacts-page-image-label {
     position: absolute;
     bottom: 27%;
     left: 68.5%;
}

 #home-page-name {
     position: absolute;
     font-family: barrio;
     writing-mode: vertical-rl;
     text-orientation: upright;
     color:white;
     font-size: 72px;
     top: 4%;
     right: 3%;
 }